<template>
    {{ $data | json }}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr v-for="item in list">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
        </tr>
    </table>
</template>

<script>
export default {
    data(){
        return {
            list: []
        }
    },
    methods: {
        fetchData(){
            console.log('fetching');
            this.$http.get('http://laracast-vue.dev/api').then((response) => {
                    this.list = JSON.parse(response.body);
            },(response) => {
                console.log(response);
                if(response.status == 500){
                    var errBody = JSON.parse(response.body);
                    alert(errBody.message);
                }
            });
        }
    },
    ready(){
        this.fetchData();
    }
}
</script>